# Entorno Virtual de Python
# Ignora la carpeta que contiene todas las librerías instaladas.
venv/

# Archivos de caché de Python
# Estos se generan automáticamente y no deben ser versionados.
__pycache__/
*.py[cod]

# Archivos de entorno
# Contiene variables sensibles como la SECRET_KEY y el nombre de la hoja de Google.
.env

# Credenciales
# ¡MUY IMPORTANTE! Nunca subas este archivo a un repositorio público.
credentials.json

# Archivos específicos del editor de código (ej. VSCode)
.vscode/

# Archivos de sistema operativo
.DS_Store

# Archivos de registro (si se generan)
*.log

# Archivos de datos locales (ahora obsoletos, pero es bueno ignorarlos)
metas.json
equipos_ventas.json
metas_vendedores.json

# Carpeta de instancia (puede contener datos sensibles)
instance/